# .env.template
# This file serves as a template for the .env file that should be created in your project.
# The .env file is used to set environment variables that your application needs to run.
# Copy this template, rename it to .env, and fill in your specific values for each variable.


# !Only variables prefixed with VITE_ are exposed to Vite-processed code.


VITE_API_BASE_URL=""