@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  color: #fff;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#style-5::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 8px;
  background-color: transparent;
}

#style-5::-webkit-scrollbar
{
  width: 12px;
  background-color: transparent;
}

#style-5::-webkit-scrollbar-thumb
{
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #51A9E3;
}

.aclonica-regular {
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'aclonica';
  src: url('/fonts/Aclonica-Regular.ttf') format('ttf');

}

.input-placeholder::placeholder {
  font-size: 0.7rem;
  color: #a0a0a0;
  padding-left: 4px;
}

.numberInput {
  text-align: center;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0F1621;
  font-family: "Aclonica", sans-serif;
}

input {
  border-radius: 2px solid black;
  background-color: transparent;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 4px;
}

.board {
  border: 2px solid #141F32;
  user-select: none;
  margin: auto;
  grid-area: game;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  aspect-ratio: 1;
  border: 1px solid #141F32;
}

.cell.hiddenCells {
  visibility: hidden;
}

.cell.Empty {
  background-color: #17243B;
}

.cell.I {
  background-color: rgb(32, 61, 62);
  border-radius: 5px;
}

.cell.J {
  background-color: rgb(10, 56, 155);
  border-radius: 5px;
}

.cell.L {
  background-color: rgb(151, 113, 9);
  border-radius: 5px;
}

.cell.O {
  background-color: rgb(180, 37, 180);
  border-radius: 5px;
}

.cell.S {
  background-color: rgb(16, 110, 21);
  border-radius: 5px;
}

.cell.T {
  background-color: rgb(69, 19, 116);
  border-radius: 5px;
}

.cell.Z {
  background-color: rgb(208, 12, 12);
  border-radius: 5px;
}