@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  color: #fff;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}



.aclonica-regular {
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'aclonica';
  src: url('/fonts/Aclonica-Regular.ttf') format('ttf');

}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0F1621;
  font-family: "Aclonica", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.board{
  border: 1px solid gray;
  user-select: none;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cell {
  width: 30px;
  aspect-ratio: 1;
  border: 0.5px solid gray;
}


.cell.Empty {
background-color: rgba(238, 230, 230, 0.119);
}

.cell.I {
  background-color: rgb(80, 227, 230);
}
.cell.J {
  background-color: rgb(36, 95, 223);
}
.cell.L {
  background-color: rgb(223, 17, 36);
}
.cell.O {
  background-color: rgb(223, 21, 36);
}
.cell.S {
  background-color: rgb(48, 211, 56);
}
.cell.T {
  background-color: rgb(132, 61, 198);
}
.cell.Z {
  background-color: rgb(227, 78, 78);
}

.upcoming {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 10px;
  
}

.cell.hidden {
  visibility: hidden;
}